.category {
    margin-top: 100px;

    &__title {
        @include Cormac-Black();
        text-transform: uppercase;
        text-align: center;
        font-size: 57px;
        line-height: 60px;
    }

    &__list {
        margin-top: 35px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .novelty__item {
            margin: 0 10px 40px;
        }

        .novelty__img--wrap {
            max-width: 360px;
        }
    }
}

@media only screen and (max-width : 960px) {
    .category {

        margin-top: 30px;
        
        &__list {
            justify-content: center;
        }
    }
}