.header {
    margin-top: 40px;
    @include Cormac-Black();
    font-size: 14px;
    text-transform: uppercase;

    &--wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu {
        width: 38%;
        margin-top: 15px;

        &__list {
            display: flex;
            flex-wrap: wrap;
        }
        &__item {
            margin-right: 22px;
        }
        &__item--phone {
            display: none;
        }
        &__link {
            color: #23476d;
            position: relative;
        }
        &__link:before {
            content: "";
            width: 0;
            height: 10px;
            top: 8px;
            left: 10px;
            z-index: -1;
            position: absolute;
            display: inline-block;
            background-color: #fff969;
            transition: 0.2s linear;
        }
        &__link:hover:before {
            width: 100%;
        }
    }

    &__link--phone {
        display: none;
    }

    &__logo--wrap {
        width: 22%;
    }

    &__logo {
        width: 250px;
    }

    &__info {
        width: 40%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 16px;
    }

    &__list {
        width: 45%;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
    }

    &__item {
        margin-left: 20px;
    }

    &__icon--wrap{
        width: 55%;
        display: flex;
        justify-content: flex-end;
        margin-top: -8px;

        & a {
            transition: .3s;
            &:hover {
                opacity: .6;
            }
        }
    }

    &__icon {
        margin-left: 34px;
        height: 35px;
        width: auto;
    }
}

.card__empty {
    display: none!important;
}

.card__full {
    position: relative;
}

.card__text {
    color: #ff4b2e;
    bottom: -12px;
    position: absolute;
    font-size: 18px;
    right: -7px;
}

.menu-trigger {
	display: none;
	position: absolute;
    top: 40px;
    left: 20px;
    z-index: 999999;
    width: 35px;
    height: 35px;

    & span {
    	display: block;
    	position: absolute;
    	height: 4px;
    	width: 100%;
    	background: #2d4a69;
    	opacity: 1;
    	left: 0;
    	transform: rotate(0deg);
    	transition: .25s ease-in-out;
	}

	& span:nth-child(1) {
    	top: 0px;
	}

	& span:nth-child(2), span:nth-child(3) {
    	top: 10px;
	}

	span:nth-child(4) {
    	top: 20px;
	}
}

.menu_state_open {

	& span {
		background: #2d4a69;
	}
	
	& span:nth-child(1) {
		top: 18px;
    	width: 0%;
    	left: 50%;
	}

	& span:nth-child(2) {
		transform: rotate(45deg);
	}

	& span:nth-child(3) {
		transform: rotate(-45deg);
	}

	& span:nth-child(4) {
		top: 18px;
    	width: 0%;
    	left: 50%;
    }
}

@media only screen and (max-width : 960px) {

    .header {
       margin-top: 20px;

        &__list {
            display: none;
        }

        & .menu__list {
            display: none;
        }

        &__link--visible {
            display: none;
        }

        &__logo--wrap {
            width: 100%;
            text-align: center;
            z-index: 8888;
        }

        &__logo {
            max-width: 130px;
        }

        & .menu__item {
            display: block;
            border-bottom: 1px solid #d5dbe1;
            padding: 18px 0 16px;
            margin-right: 0;
            font-size: 14px;
            line-height: 14px;
        }

        &__link--phone {
            display: inline-block;
            padding: 18px 60px;
    
            & img {
                margin-left: 0;
            }
        }

        &__info {
            margin-top: 5px;
        }

        &__link--left {
            border-right: 1px solid #d5dbe1;
        }
    }

    .ul-trigger {
		position: absolute;
    	top: 0;
    	left: 0;
    	z-index: 8888;
    	width: 100%;
    	background: #fff;
    	height: 100vh;
    	padding: 90px 0 40px;
        text-align: center;
    }
    
    .menu-trigger {
        display: inline-block;
        top: 28px;
        width: 30px;
        height: 30px;
    }

    .card__full {
        display: block;
        z-index: 8888;
    }

    .header__fixed {
        .menu-trigger {
            top: 20px;
        }
    }
}

.header__fixed {
    position: fixed;
    top: 0;
    background: #fff;
    width: 100%;
    margin: 0;
    z-index: 99999999;
    box-shadow: 0px 3px 9px 0px rgba(214,214,214,0.75);
    padding: 10px 0;
}